@import "react-alice-carousel/lib/alice-carousel.css";


main {
    min-height: 80vh;

}

.rating span {
    margin: .1rem;
}

h3 {
    padding: 1rem 0
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: .5rem 0;
}
a {
    text-decoration: none;
    font-weight: 900;
}

.category-card{
    transition: all .2s ease-in-out
}

.category-card:hover{
    transform: scale(1.1)
}